@charset "utf-8";

@import url('font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', 'NotoSans', 'Titillium Web', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.4;
}

// common
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  //about~recruit common
  .title-wrap {
    text-align: center;

    .title-icon {
      // width: 43px;
      // height: 34px;
      margin-bottom: 15px;
    }

    .title-h2 {
      font-size: 42px;
      line-height: 46px;
      margin-bottom: 16px;
      font-weight: 700;
      color: #222;
      letter-spacing: -0.6px;
    }

    .title-desc {
      font-size: 19px;
      line-height: 1.47;
      white-space: nowrap;
    }

    .color-w {
      color: #fff;
    }

  }

}

.text-white {
  color: #fff;
}




// fixbar
.fix-wrap {
  position: fixed;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
}

// layout
.wrap {
  position: relative;
  display: block;

  // header  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70px;
    background: #fff url('../images/blind_bg.png') no-repeat left top;
    z-index: 9999;

    overflow: hidden;
    transition: height 0.3s ease-in;
    box-shadow: 0 3px 15px 0 rgb(0 0 0 / 8%);

    .inner {
      display: flex;
      justify-content: space-between;

      &::before {
        //그림자역할
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        width: 100vw;
        height: 70px;
        background-color: #fff;
        z-index: -1;

        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 8%);
      }

      h1 {
        position: relative;
        display: block;

        a.logo {
          display: inline-block;
          display: block;
          width: 87px;
          height: 70px;
          background: url('../images/head_logo.png') no-repeat center;
          background-size: contain;
        }
      }

      .gnb {

        .menu {
          display: flex; //table (a)

          >li {
            width: 180px;

            .mainmenu {
              position: relative;
              display: block;
              text-align: center;
              font-size: 21px;
              line-height: 70px;
              text-align: center;
              border-bottom: 1px solid rgba(177, 202, 229, 0);
              transition: border 0.5s;
              z-index: 999;
            }

            &:hover .mainmenu {
              border-bottom: 1px solid #b1c9e5;
              color: #3d66c4; //포커스유지
            }

            .submenu {
              padding: 20px;
              height: calc(100% - 70px);
              border-left: 1px solid #ebebeb;
              transition: background-color 0.5s;


              li {
                margin-bottom: 10px;

                a {
                  display: block;
                  font-size: 16px;
                  color: #5a5a5a;
                  letter-spacing: -0.5px;

                  &:hover {
                    color: #3d66c4;
                    text-decoration: underline;
                  }

                }

                &:last-child {
                  margin-bottom: 0px;
                }
              }

            }

            &:hover .submenu {
              background-color: #ecf3fb;
            }

            &:last-child .submenu {
              border-right: 1px solid #ebebeb;
            }
          }
        }
      }

      .helper {
        position: relative;
        display: block;
        margin-top: 24px;

        .helper-list {
          position: relative;
          display: block;

          li {
            position: relative;
            display: block;
            float: left;
            margin-left: 14px;

            &:first-child {
              margin-left: 0px;
              margin-right: 14px;

              a {
                position: relative;
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
              }
            }

            a {
              position: relative;
              display: block;
            }
          }
        }
      }
    }
  }

  // visual 
  .visual {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url('../images/bg1-8.jpg') no-repeat center;
    background-size: cover;

    .inner {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      height: 100%;

      .visual-img {
        position: absolute;
        left: 0;
        top: 150px;
        max-width: 592px;
      }

      .visual-wrap {
        position: relative;
        width: 100%;
        background-color: #fff;
        margin-bottom: 70px;
        border-radius: 12px;
        padding: 20px 0;
        overflow: hidden;

        .sw-visual-prev {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 98px;
          height: 100%;
          border: 0;
          cursor: pointer;
          background-color: #fff;
          box-shadow: -10px 15px 25px rgb(0 0 0 / 8%);
          background: url('../images/1_15.svg') no-repeat center;
          transform: rotate(180deg);

          &:hover {
            background: #6889ff url('../images/1_16.svg') no-repeat center;
          }

        }

        .sw-visual-next {
          position: absolute;
          right: 0;
          top: 0;
          display: block;
          width: 98px;
          height: 100%;
          border: 0;
          cursor: pointer;
          background-color: #fff;
          box-shadow: -10px 15px 25px rgb(0 0 0 / 8%);

          background: url('../images/1_15.svg') no-repeat center;

          transition: background 0.2s;

          &:hover {
            background: #6889ff url('../images/1_16.svg') no-repeat center;
          }
        }

        .sw-visual {
          width: 80%;
          margin: 0 auto;

          .visual-icon {
            display: block;
            text-align: center;
            padding-top: 85px;
            color: #333;
            font-size: 16px;
            white-space: nowrap;


            &::before {
              content: '';
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: 0;
              display: block;
              width: 70px;
              height: 70px;
              background-color: #fff;
              border-radius: 18px;
              box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
              transition: background-color 0.3s;
            }

            &:hover {
              font-weight: 500;

              &::before {
                background-color: #ffd233;
              }
            }

            &::after {
              content: '';
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: 0;
              display: block;
              width: 70px;
              height: 70px;
            }

            &.visual-icon1::after {
              background: url('../images/fave_01.svg') no-repeat center;
            }

            &.visual-icon2::after {
              background: url('../images/fave_02.svg') no-repeat center;
            }

            &.visual-icon3::after {
              background: url('../images/fave_03.svg') no-repeat center;
            }

            &.visual-icon4::after {
              background: url('../images/fave_04.svg') no-repeat center;
            }

            &.visual-icon5::after {
              background: url('../images/fave_05.svg') no-repeat center;
            }

            &.visual-icon6::after {
              background: url('../images/fave_06.svg') no-repeat center;
            }

            &.visual-icon7::after {
              background: url('../images/fave_07.svg') no-repeat center;
            }

            &.visual-icon8::after {
              background: url('../images/fave_08.svg') no-repeat center;
            }

            &.visual-icon9::after {
              background: url('../images/fave_09.svg') no-repeat center;
            }

            &.visual-icon10::after {
              background: url('../images/fave_10.svg') no-repeat center;
            }

            &.visual-icon11::after {
              background: url('../images/fave_11.svg') no-repeat center;
            }

            &.visual-icon12::after {
              background: url('../images/fave_12.svg') no-repeat center;
            }

          }
        }
      }
    }
  }

  // about 
  .about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 70px);

    background: #f5fcff url('../images/main_sec2_bg02.png') no-repeat bottom center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 485px;
      height: 578px;
      background: url('../images/main_sec2_bg01.png') no-repeat center;
      background-size: cover;
    }

    .inner {

      .contents-wrap {
        margin-top: 50px;

        .about-box {
          float: left;
          width: 32.5%;
          margin-right: 1.25%;
          height: 475px;


          &.about-left {
            .about-round-box {
              border-radius: 20px 0px 20px 0px;
              overflow: hidden;
              height: 40.4%;
              box-shadow: 2px 2px 15px rgb(63 68 138 / 15%);

              &.arb-up {
                margin-bottom: 3.6%;
                height: 56%;
              }

              a {
                padding: 40px;

                &.ab-ceo {
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: url('../images/ceo.png') no-repeat center;
                  background-size: cover;

                  >h3 {
                    font-size: 26px;
                    line-height: 1.46;
                    font-weight: 700;

                    &::after {
                      content: '';
                      position: relative;
                      display: block;
                      width: 24px;
                      height: 3px;
                      background-color: #fff;
                      margin-top: 15px;
                      margin-bottom: 15px;
                    }
                  }

                  >p {
                    position: relative;
                    font-size: 16px;
                  }
                }


                &.ab-safety {
                  display: block;
                  position: relative;
                  width: 100%;
                  height: 100%;
                  background: #97c4ff url('../images/main_menu_05.png') no-repeat right top;
                  background-size: contain;

                  &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 282px;
                    height: 162px;
                    background: url('../images/main_menu_051.png') no-repeat right bottom;
                  }

                  >h3 {
                    font-size: 26px;
                    line-height: 1.46;
                    font-weight: 700;

                    &::after {
                      content: '';
                      position: relative;
                      display: block;
                      width: 24px;
                      height: 3px;
                      background-color: #3d66c4;
                      margin-top: 15px;
                      margin-bottom: 15px;
                    }
                  }

                  >p {
                    position: relative;
                    font-size: 16px;
                  }
                }
              }
            }
          }

          &.about-center {
            .about-slide {
              border-radius: 20px 20px 0 0;
              height: 100%;
              box-shadow: 2px 2px 15px rgb(63 68 138 / 15%);
              overflow: hidden;


              .sw-about {
                width: 100%;
                height: 100%;

                a {
                  position: relative;
                  display: block;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;

                  img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 170%;
                  }
                }

                >.sw-about-control {
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  background-color: #18263b;
                  z-index: 9;


                  span {
                    display: block;
                    float: left;
                    font-size: 20px;
                    color: #fff;
                    line-height: 56px;
                    padding-left: 25px;
                  }

                  .sw-about-pgnt {
                    right: 0;

                    .sw-about-prev {
                      width: 10px;
                      height: 17px;
                      background: url('../images/main_pop_leftarrow.png')no-repeat center;
                      background-size: cover;
                      cursor: pointer;
                      border: 0;
                    }

                    .sw-about-pause {
                      width: 9px;
                      height: 17px;
                      background: url('../images/main_pop_stop.png')no-repeat center;
                      // background-size: cover;
                      cursor: pointer;
                      border: 0;
                    }

                    .sw-about-next {
                      width: 10px;
                      height: 17px;
                      background: url('../images/main_pop_rightarrow.png')no-repeat center;
                      background-size: cover;
                      cursor: pointer;
                      border: 0;
                    }

                  }
                }
              }








            }
          }

          &.about-right {
            margin-right: 0;

            .about-round-box {
              border-radius: 20px 0px 20px 0px;
              height: calc((100% - 3.6%) / 2);
              box-shadow: 2px 2px 15px rgb(63 68 138 / 15%);
              overflow: hidden;
              background-color: #b9c3ff;

              &.arb-up {
                margin-bottom: 3.6%;
                background-color: #fff;
              }

              // >span {
              //   font-size: 24px;
              //   font-weight: 500;
              //   color: #222;
              // }

              a {

                &.ab-organization {
                  height: 100%;
                  padding: 40px;
                  display: block;
                  background: url('../images/main_menu_01.png') no-repeat center;


                  >h3 {
                    font-size: 26px;
                    line-height: 1.46;
                    font-weight: 700;

                    &::after {
                      content: '';
                      position: relative;
                      display: block;
                      width: 24px;
                      height: 3px;
                      background-color: #3d66c4;
                      margin-top: 15px;
                      margin-bottom: 15px;
                    }
                  }

                  >p {
                    position: relative;
                    font-size: 16px;
                  }
                }
              }

              .ab-sns {
                display: block;
                height: 100%;
                padding: 40px;


                &.ab-sns-charac00 {
                  background: url('../images/charac00.png') no-repeat bottom right;
                  background-size: contain;
                }

                &.ab-sns-charac01 {
                  background: url('../images/charac01.png') no-repeat bottom right;
                  background-size: contain;
                }

                &.ab-sns-charac02 {
                  background: url('../images/charac02.png') no-repeat bottom right;
                  background-size: contain;
                }


                .sns-icon-wrap {
                  position: relative;
                  display: block;
                  font-size: 0;
                  white-space: nowrap;
                  margin-top: 8px;



                  >a {
                    display: inline-block;
                    width: 51px;
                    height: 51px;
                    margin-top: 8px;
                    font-size: 0;


                    &.sns-icon-yt {
                      background: url('../images/main_menu_02yt.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-fb {
                      background: url('../images/main_menu_02fb.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-is {
                      background: url('../images/main_menu_02in.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-bg {
                      background: url('../images/main_menu_02bl.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-pt {
                      background: url('../images/main_menu_02na.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-tw {
                      background: url('../images/main_menu_02tw.png') no-repeat center;
                      background-size: cover;
                    }

                    &.sns-icon-kk {
                      background: url('../images/main_menu_02kt.png') no-repeat center;
                      background-size: cover;
                    }
                  }
                }


              }

              // 캐릭터바뀌는 자바스크립트 구현해야함!!!!!


            }
          }
        }
      }
    }
  }











  // service 
  .service {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../images/main_section02_bg.jpg') no-repeat center;
    background-size: cover;

    .inner {
      position: relative;
      display: block;

      .contents-wrap {
        height: 440px;
        max-height: 440px;

        .service-left {
          float: left;
          width: 23.5%;
          height: 100%;
          border: 3px solid #fff;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          margin-right: 1.75%;
          padding: 40px;

          .service-title2 {
            font-size: 26px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 25px;

          }

          .service-list {
            li {
              padding: 20px 0px;
              border-bottom: 1px dashed #fff;

              &:last-child {
                border-bottom: 0;
              }

              a {
                position: relative;
                display: inline-block;
                font-size: 17px;
                color: #fff;
                font-weight: 300;

                &::after {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 34px;
                  height: 8px;
                  background: url('../images/main_arrow_fff.png') no-repeat;
                }

                &:hover {
                  text-underline-position: under;

                  &::after {
                    opacity: 1;
                  }
                }

              }
            }
          }
        }

        .service-center {
          position: relative;
          float: left;
          height: 100%;
          width: calc(100% - 47% - 3.5%);

          .sc-top {
            height: 45.5%;

            border: 2px solid #fff;
            border-top: 3px solid #fff;
            padding: 30px;

            .sc-link-list {
              width: 100%;
              height: 100%;
              display: table;
              table-layout: fixed;

              li {
                display: table-cell;
                width: 25%;
                height: 100%;
                border-right: 1px dashed rgba(255, 255, 255, 0.6);

                &:last-child {
                  border-right: none;
                }

                a {
                  display: block;
                  text-align: center;
                  height: 100%;
                  text-align: center;


                  img {
                    transition: transform;
                  }

                  &:hover img {
                    animation-name: serviceani;
                  }

                  span {
                    display: block;
                    font-size: 18px;
                    color: #fff;
                    margin-top: 15px;
                  }
                }
              }
            }
          }

          .sc-bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 48.5%;

            .scb-info {
              float: left;
              height: 100%;
              width: 47%;
              border: 2px solid #fff;
              padding: 20px 30px;

              .scb-info-top {
                text-align: center;
                padding-bottom: 14px;
                border-bottom: 1px solid #fff;

                a {
                  font-size: 20px;
                  color: #fff;
                  font-weight: 300;

                  img {
                    margin-right: 15px;
                  }

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              .scb-info-bottom {
                margin-top: 25px;

                strong {
                  margin-top: 25px;
                  float: left;
                  font-size: 26px;
                  color: #fff;
                  font-weight: 500;
                }

                ul.scb-info-list {
                  float: right;

                  li {
                    padding: 15px;
                    border-bottom: 1px dashed #fff;

                    a {
                      font-size: 17px;
                      color: #fff;

                      &:hover {
                        text-decoration: underline;
                      }
                    }

                    &:last-child {
                      border-bottom: 0px;
                    }
                  }
                }
              }
            }

            .scb-cs {
              float: right;
              height: 100%;
              width: 47%;
              border: 2px solid #fff;

              background: rgba(28, 87, 154, 0.6);
              text-align: center;

              strong {
                display: block;
                font-size: 26px;
                color: #fff;
                font-weight: 500;
                margin-top: 65px;
              }

              a {
                font-size: 39px;
                color: #fff;

                &:hover {
                  text-decoration: underline;
                }
              }


            }
          }
        }

        .service-right {
          float: left;
          width: 23.5%;
          margin-right: 1.75%;
          padding: 40px;
        }
      }
    }
  }

  // news 
  .news {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #f6f6f6 url('../images/main_section3_bg.png') no-repeat right bottom;

    .inner {
      position: relative;
      display: block;

      .title-wrap {}

      .contents-wrap {
        .news-top {
          .sw-news-list {
            .swiper-slide {
              display: block;
              width: %;
              height: ;

              .news-box {
                position: relative;
                width: calc(100% - 25px);
                background-color: #fff;
                border-radius: 20px 0 20px 0;
                box-shadow: 5px 5px 20px rgb(221 221 221 / 57%);
                padding: 25px;

                .news-ctgr {
                  position: absolute;
                  left: 0;
                  top: 25px;
                  display: block;
                  padding-left: 45px;
                  padding-right: 35px;
                  background-color: #3d66c4;
                  color: #fff;
                  border-radius: 0 18px 18px 0;
                  font-size: 17px;
                  line-height: 38px;

                  &.brdc {
                    color: #333;
                    background-color: #ffd233;
                  }
                }


                .news-title-link {
                  display: block;
                  height: 45px;
                  margin-top: 60px;
                  font-size: 19px;
                  color: #222;
                  font-weight: 500;

                  // 2줄이상 말줄임 처리
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2; //몇줄까지 표현할것이냐?
                  -webkit-box-orient: vertical;
                }

                .news-date {
                  display: inline-block;
                  margin-top: 30px;
                  color: #666;
                  font-size: 13px;
                  font-weight: 300;
                }

                .news-more {
                  display: block;
                  margin-top: 30px;
                  float: right;
                  font-size: 0;

                  &::before {
                    content: '';
                    position: relative;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url('../images/main_news_plus.png') no-repeat center;
                    transition: all 0.3s;
                  }

                  &:hover::before {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }

        .news-bottom {
          margin-top: 25px;

          .news-box-bot {
            position: relative;
            display: block;
            float: left;
            width: 23.55%;
            margin-right: 1.925%;
            height: 265px;
            background-color: pink;

            &:last-child {margin-right: 0%;}
          }
        }
      }
    }
  }

  // culture 
  .culture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e8f4ff url('../images/sec4m_bg.png') no-repeat left bottom;

    .inner {
      position: relative;
      display: block;
    }
  }

  // recruit 
  .recruit {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../images/main_section05_bg.jpg') no-repeat center;
    background-size: cover;

    .inner {
      position: relative;
      display: block;
    }
  }

  // footer 
  .footer {
    position: relative;
    display: block;

    .inner {
      position: relative;
      display: block;
    }
  }
}

@keyframes serviceani {
  0% {
    transform: traslateY(0);
  }

  15% {
    transform: traslateY(60%);
  }

  30% {
    transform: traslateY(100%);
  }

  45% {
    transform: traslateY(0%);
  }

  60% {
    transform: traslateY(-100%);
  }

  85% {
    transform: traslateY(-60%);
  }

  100% {
    transform: traslateY(0);
  }
}